# automatically created files:
.DS_Store

## Sphinx: generated HTML
docs/_build

# other
virtualenv/
.idea/workspace.xml
static
build
.idea
_build
.coverage
htmlcov
celery.pid
selenium-screenshots/

syntax: glob
/media
*.pyc
*.swp
*.sqlite3

#OIDC credentials
client_secrets.json
