# automatically created files:
.DS_Store

## Sphinx: generated HTML
docs/_build

# other
virtualenv/
.idea/workspace.xml
static
build
.idea
_build
.coverage
htmlcov
celery.pid
selenium-screenshots/

syntax: glob
/media
*.pyc
*.swp
*.sqlite3

#OIDC credentials
client_secrets.json

#Adding fas-admin-details.json so that the username and password does not get pushed
fas-admin-details.json

# YAML Configuration file for django 
config.yml