{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Open-source Happiness Packets</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic|Roboto:400,300,300italic,400italic,700,700italic&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/datepicker.css' %}" rel="stylesheet">
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">
    <link href="{% static 'images/favicon.ico' %}" rel="icon" type="image/x-icon">

    <!--[if lt IE 8]>
        <link href="{% static 'css/bootstrap-ie7.css' %}" rel="stylesheet">
    <![endif]-->
    {% block extra_head %}{% endblock %}
</head>

<body>
    <aside>
        <div class="sidebar">
            {% url 'messaging:start' as url %}
            <a href="{{ url }}"><img src="{% static 'images/logo.png' %}" alt="Open-Source Happiness Packets" class="logo"/></a>
            <ul class="nav nav-stacked">
                {% url 'messaging:send' as url %}
                <li role="presentation" {% if url in request.path %}class="active"{% endif %}><a href="{{ url }}">Send some happiness!</a></li>
                {% url 'messaging:start' as url %}
                <li role="presentation" {% if url in request.path %}class="active"{% endif %}><a href="{{ url }}">What are Happiness Packets?</a></li>
                {% url 'messaging:inspiration' as url %}
                <li role="presentation" {% if url in request.path %}class="active"{% endif %}><a href="{{ url }}">Get inspired</a></li>
                {% url 'messaging:faq' as url %}
                <li role="presentation" {% if url in request.path %}class="active"{% endif %}><a href="{{ url }}">FAQ</a></li>
                {% url 'messaging:archive' as url %}
                <li role="presentation" {% if url in request.path %}class="active"{% endif %}><a href="{{ url }}">Happiness Archive</a></li>
            </ul>
        </div>
    </aside>
    <main>
        <div class="container">
            <div class="row content">
                <div class="col-md-10">
                    {% for django_message in messages %}
                        <br>
                        <div class="alert {% if django_message.tags %} alert-{{ django_message.tags }}{% endif %}">
                            {{ django_message }}
                        </div>
                    {% endfor %}
                    {% block content %}{% endblock %}
                </div>
            </div>
            <footer><small>
                <hr>
                <a href="https://twitter.com/happinesspacket" class="twitter-follow-button" data-show-count="false" data-size="large" data-dnt="true">Follow @happinesspacket</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                <br>
                Open-Source Happiness Packets is an
                <a href="https://github.com/mxsasha/happinesspackets/">open-source project</a> by
                <a href="https://twitter.com/mxsash">Sasha Romijn</a> and
                <a href="https://twitter.com/thatdocslady">Mikey Ariel</a>.
                <br>
                Design and artwork by <a href="https://twitter.com/olasitarska">Ola Sitarska</a>.
                <br>
                Need help? <a href="mailto:info@happinesspackets.io">info@happinesspackets.io</a>
                <img class="emoji" src="{% static 'images/emoji/loveletter.png' %}" alt="💌" title="Love letter" aria-label="Emoji: Love letter" style="vertical-align: text-bottom">

            </small></footer>
        </div>
    </main>
</body>
</html>
